.error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  &-404 {
    font-size: 2em;
    color: #fd841f;
    font-weight: bold;
  }

  &-desc {
    color: #fd841f;
  }

  &-picture {
    &-image {
      max-width: 100%;
    }
  }

  &-link {
    &-home {
      color: #fd841f;
    }
  }
}