.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #fcc875;
  border-bottom: 5px solid #fd841f;

  &-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
    margin: 0 1em;

    &-home, &-user {
      height: 100%;

      &-link {

        &-image {
          height: 100%;
        }
      }
      &-hidden {
        width: 40px;
      }
    }

    &-logo {
      display: flex;
      justify-content: center;
      height: 100%;

      &-image {
        height: 100%;
      }
    }
  }
}